/* nasty resets */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	margin:0px;
	padding: 0px;
}
body {
	font-family: sans-serif;
	font-size: 18px;
	background-color: #4cb8f4;
	background-size: cover;
}
ul {
	list-style: none;
}
button {
	border: none;
	background-color: rgba(255,255,255,.75);
}
a {
	text-decoration: none;
	color: #4cb8f4;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #ff5039;
}
a.connect{
  text-align: center;
}
/* navigation styles */
.nav{
	width:100%;
	position: fixed;
	top: 0px;
	z-index: 10;
}
.btn {
	display:inline-block;
	width: calc(20% - 4px);
	padding: 1em 0;
	border-bottom: 4px solid #888;
	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:first-child{
	margin-right: 60%;
}
.btn:hover{
	cursor: pointer;
	border-bottom: 8px solid #a6e22d;	
}
.btn.active{
	border-bottom: 4px solid #fdd72b;	
}
/*footer*/
.username {
	font-size: 0.8em;
	position: fixed;
	display: block;
	text-align: center;
	width:100%;
	bottom:0;
	padding: .5em;
	background-color: rgba(255,255,255,.75);
	border-top: 4px solid #4cb8f4;
}
.username span {
	font-weight: bold;
}
/* basic dynamic content wrapper */
.wrapper {
	width: 100%;
	max-width: 640px;
	margin: 5em auto;
	background-color: rgba(255,255,255,.75);
	padding: 2em;
	border-radius: 15px;
}
@media (max-width: 640px) {
	.wrapper {
	  width: 100%;
	}
}

/***
** DASHBOARD
**/

.stats {
	position: relative;
	width: 100%;
	padding-top: 100%;
}
.user {
	position: relative;
}
.key {
	position: absolute;
	width: 100%;
}
.key .left {
	display: inline-block;
	font-size: .7em;
	width:49%;
	text-align: left;
}
.key .left span {
	color: #4cb8f4;
}
.key .right {
	display: inline-block;
	font-size: .7em;
	width:49%;
	text-align: right;
}
.key .right span {
	color: #ff5039;
}
.pie-ratio {
	width: 100%;
	position: absolute;
	top: 0; left: 0;
	height: 100%;
}
.avatar{
	transform: translate(50%, 50%);
	position: absolute;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
	border-radius: 50%;
}
	
.pie-left {
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
	position: absolute;
	width: 50%;
	overflow: hidden;
	height: 100%;
	opacity: 0;
	transform-origin: 100% 50%;
	transform: scale(0.5);
}
.followers {
	width: 200%;
	height: 100%;
	background: #4cb8f4;
	position: absolute;
	border-radius: 50%;
}
.pie-right {
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
	position: absolute;
	width: 50%;
	overflow: hidden;
	height: 100%;
	left:50%;
	opacity: 0;
	transform-origin: 0% 50%;
	transform: scale(0.5);
}
.following {
	width: 200%;
	height: 100%;
	background: #ff5039;
	position: absolute;
	border-radius: 50%;
	right:0;
}



/***
** FAVOURITES
**/

.tweets li {
	list-style: none;
	background-color: rgba(255,255,255,.75);
}
.tweets li:nth-child(odd){
	background-color: rgba(76, 184, 244, 0.14);
}

.tweet--container {
  padding: 1em;
  position: relative;
}
.tweet--container .fa{
	position: absolute;
	right: 1em;
	top: calc(50% - 0.5em);
	color: #4cb8f4;
}
.tweet--container .fa:hover {
	color:#ff5039;
	cursor: pointer;
}
.clear {
	clear:both;
	line-height:1px;
}
.tweet--container .col-1-4 {
  max-height: 50px;
  height: 50px;
  max-width: 50px;
  width: 50px;
  float: left;
  margin-right: 2em;
  margin-bottom: .25em;
}
.tweet--container .col-1-4 .profile {
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding-top: 100%;
}
.tweet--container .col-head {
  width: 100%;
  padding-left: 2em;
}
@media (max-width: 640) {
  .tweet--container .col-head {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}
.tweet--container .col-head .head {
  font-size: 12px;
  padding-bottom: 0.5em;
  color: #ff5039;
}
.tweet--container .col-head .head div {
  display: inline-block;
}
.tweet--container .col-head .head .handle {
  margin-left: 1em;
  color: #4cb8f4;
}
.tweet--container .col-body {
  width: 100%;
  padding:0 2em;
  font-size: .9em;
}
@media (max-width: 640) {
  .tweet--container .col-body {
    margin-top: 2em;
    padding-left: 0;
  }
}

.tweets li.placeholder {
	border-left: 20px solid #a6e22d;
	height:5em;
	width:100%;
}