<script type="text/handlebars">

<div class="dashboard--container">
  <div class="user">
    <div class="key">
      <div class="left">Followers: <span>{{ followers_count }}</span></div>
      <div class="right">Following: <span>{{ friends_count }}</span></div>
    </div>
    <div class="stats">
      <div class="pie-ratio">
        <div class="pie-left">
          <div data-count={{ followers_count }} class="followers"></div>
        </div>
        <div class="pie-right"> 
          <div data-count={{ friends_count }} class="following"></div>
        </div>
        <div class="avatar" data-bg={{ profile_image_url }}></div>
      </div>
    </div>
  </div>
  
</script>

